{% extends 'base.html' %}

{% block main %}

    {% for quest in quests %}
    <div class="card">
        <div class="row m-2">
            <div class="col-md-4">
                <h1>{{ quest.name }}</h1>

            <img src="../static/quest/{{ quest.img }}" class="jpeg-main">
            </div>
        </div>
    </div>
    {% endfor %}

      <div class="card">
        <div class="row m-2">
            <div class="col-md-4">
                <h1>Я купил домен, блять</h1>

{#            <img src="../static/salad.jpg" class="jpeg-main">#}

{#                <form method="POST">#}
{#                <input name='photo' type="file" id="last-img">#}
{#                <button id='submit-button' type="button">Отправить</button>#}
{#                </form>#}

                {% if img_obj %}
                    <img src="{{ img_obj.image.url }}" class="jpeg-main">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    <button type="submit">Отправить</button>
                </form>
                {% endif %}

            </div>
            <div class="col m-2">

            </div>
        </div>
    </div>

    <script>
{#        {% include 'common.js' %}#}
{##}
{#        let submit_button = document.getElementById('submit-button');#}
{#        let img_input = document.getElementById('last-img');#}
{##}
{#        let file = img_input.files[0];#}
{##}
{#        submit_button.onclick = function() {#}
{#            console.log(file);#}
{#        }#}
        {#console.log(file);#}

    </script>

    <style>
        .hidden {
            display: none;
        }

        .top-right {
            position: fixed;
            top: 0px;
            right : 0px;
        }
    </style>
{% endblock %}