{% extends 'base.html' %}

{% block main %}
    <div class="card">
        <div class="row m-2">
            <div class="col-md-4">
                <h1>Салат</h1>

            <img src="../static/salad.jpg" class="jpeg-main">
            </div>
            <div class="col m-2">
                <div id="links-buttons"></div>
            </div>
        </div>
    </div>

      <div class="card">
        <div class="row m-2">
            <div class="col-md-4">
                <h1>Квест</h1>

            <img src="../static/salad.jpg" class="jpeg-main">
            </div>
            <div class="col m-2">

            </div>
        </div>
    </div>

    <style>
        div {
            border: 1px solid black;
        }
    </style>

    <script>
        {% include 'common.js' %}
        var buttonIsActive = [];

        function createLink (div, id, text, href) {
            let link = document.createElement("a");
            link.setAttribute("href", href);
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener noreferrer")

            link.text = text;
            link.id = "l" + id;

            let button = document.createElement("button");
            button.innerText = text;
            button.id = "b" + id;
            button.classList.add("btn");
            button.classList.add("btn-primary");

            hide(button);

            let span = document.createElement("span");
            span.innerText = text;

            hide(span);

            div.appendChild(link);
            div.appendChild(button);
            div.appendChild(span);

            let space = document.createTextNode(" ");

            div.appendChild(space);
        }

        let myDiv = document.getElementById("links-buttons");

        {% for word in words %}
            createLink(myDiv, {{ word.id }}, "{{ word.word }}", "{{ word.href }}");
        {% endfor %}

        let buttons = myDiv.getElementsByTagName("button");
        let refs = myDiv.getElementsByTagName("a");
        let spans = myDiv.getElementsByTagName("span");

        for (let i = 0; i < buttons.length; i++) {
            buttonIsActive.push(true);

            buttons[i].onclick = function () {
                let id = this.id[1] - 1;
                if (buttonIsActive[id]) {
                    this.classList.remove("btn-primary");
                    this.classList.add("btn-dark");
                } else {
                    this.classList.remove("btn-dark");
                    this.classList.add("btn-primary");
                }
                buttonIsActive[id] = !buttonIsActive[id];
            }

            hide(buttons[i])
        }

        onEditModeEnter = function () {
            for(let i = 0; i < buttons.length; i++) {
                hide(refs[i]);
                hide(spans[i]);
                show(buttons[i]);
            }
        }

        onEditModeExit = function () {
            for(let i = 0; i < buttons.length; i++) {
                hide(buttons[i]);

                if (buttonIsActive[i])
                    show(refs[i]);
                else
                    show(spans[i]);
            }
        }
    </script>

    <style>
        .hidden {
            display: none;
        }

        .top-right {
            position: fixed;
            top: 0px;
            right : 0px;
        }
    </style>
{% endblock %}